* {
    margin: 0px;
    padding: 0px;
}
.navbarContainer {
    margin-top: 0px;
}
.navbar {
    display: flex;
    flex-wrap: wrap;

    margin-left: 2em;
    /* background-color:lightblue; */
}
.logo {
    width: 311px;
    height: 120px;
    background-image: url(../img/Logo3.jpg);
    margin-left: 4.5em;
}
.backgroundImg {
    background-image: url("../img/river1920.jpg");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    /* background-size: cover; */
    border-radius: 175px 0px 175px 0px;
}
.flexWrap {
    display: flex;
    flex-wrap: wrap;
}
.sloganContainer, .undertextContainer{
    display: flex;
    width: 100%;
    justify-content: center;
}
.sloganContainer {
    margin-top: 100px;
}
.slogan {
    color: white;
    width:700px;
    font-size: 2.5em;
    /* background: rgb(0, 0, 0); fallback color
    background: rgba(22, 20, 20, 0.8); */
    padding: 0.15em;
    text-align: center;
}
.undertext {
    /* margin-top: 14px; */
    font-size: 1.5em;
    /* top: 270px; */
}
.underRubrik {
    width: 100%;
    text-align: center;
    margin-top: 1em;
    font-size: 2.5em;
}
.cardFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-color: black;
    -webkit-box-shadow: 2px 2px 3px 4px rgb(145, 142, 142);  
    -moz-box-shadow: 2px 2px 3px 4px rgb(180, 180, 180);  
    box-shadow: 1px 1px 2px 3px rgb(165, 163, 163);
}

@media screen and (max-width: 700px) {
    .logo {
        background-image: url(../img/Logo.jpg);
        width: 210px;
        height: 81px;
        margin-left: 0.25em;
        
    }
    .slogan {
        width: 250px;
        font-size: 1.5em;
    }
    .undertext {
        font-size: 1em;
    }
    .underRubrik {
       font-size: 1.5em;
       margin: 0.5em ;
    }
    .backgroundImg {
        background-image: url(../img/river640.jpg);
        height: 300px;
        border-radius: 100px 0px 100px 0px;
    }
    .sloganContainer {
        margin-top: 75px;
    }
}
@media screen and (min-width: 1445px) {
    .logo {
        background-image: url(../img/Logo2.jpg);
        width: 518px;
        height:200px;
        margin-left: 7em;
    }
    .backgroundImg {
        background-image: url('../img/river.jpg');
        height: 800px;
        border-radius: 250px 0px 250px 0px;
    }
    .slogan {
        width: 1400px;
        font-size: 5em;
    }
    .sloganContainer {
        margin-top: 200px;
    }
    .coName {
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 400;
        font-size: 4em;
        margin: 1.5%;
    }
}