* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.navbarContainer {
    margin-top: 0px;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2em;
    /* background-color:lightblue; */
}
.logo {
    width: 311px;
    height: 120px;
    background-image: url(../img/Logo3.jpg);
    margin-left: 4.5em;
    margin-right: auto;
}
.navbarItem {
    width: 311px;
    height: 120px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.2em;
    text-align: center;

}
.navText {
    position: relative;
    top: 1em;
}
.navText, a {
    color: black;
    text-decoration: none;
}
.navText, a:hover {
    text-decoration: none;
    color: black;
}
.navText, a:visited {
    text-decoration: none;
    color: black;
}
.backgroundImg {
    background-image: url("../img/river1920.jpg");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    /* background-size: cover; */
    border-radius: 175px 0px 175px 0px;
}
.flexWrap {
    display: flex;
    flex-wrap: wrap;
}
.sloganContainer, .undertextContainer{
    display: flex;
    width: 100%;
    justify-content: center;
}
.sloganContainer {
    margin-top: 100px;
}
.slogan {
    color: white;
    width:700px;
    font-size: 2.5em;
    /* background: rgb(0, 0, 0); fallback color
    background: rgba(22, 20, 20, 0.8); */
    padding: 0.6em;
    text-align: center;
}
.undertext {
    /* margin-top: 14px; */
    font-size: 1.5em;
    /* top: 270px; */
}
.underRubrik {
    width: 100%;
    text-align: center;
    margin-top: 1em;
    font-size: 2.5em;
}
.boxFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box {
    margin-top: 2.0em;
    width: 250px;
    height: 125px;
    background-color: #087dcc ;
    border-radius: 1.0em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxText{
    text-align: center;
    color: white;
}
.textFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
}
.textP {
    text-align: center;
    margin: 1em;
    font-size: 1.25em;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100%;
}
.nr3 {
    font-weight: bold;
    font-size: 1.5em;
    
}
.aboutFlex {
    display: grid;
    grid-template-columns: 400px 50px 200px 100px auto 50px ;
    grid-template-rows: 50px 100px 100px 100px 100px 100px 100px 100px;
    margin-bottom: 1em;
}
.aboutImg {
    background-image: url(../img/HenrikBystrom1.jpg);
    width: 400px;
    height: 562px;
    border-radius: 0px 250px 250px 0px;
    grid-column-start: 1;
    grid-column-end:2 ;
    grid-row-start: 2;
}
.aboutTextBlock {
    grid-column-start:3 ;
    grid-column-end: 6 ;
    grid-row-start: 2;
    grid-row-end: 7;
}
.contact {
    margin-top: 0.5em;
    font-size: 4em;
}
.border {
    border-bottom: orange 4px solid;
    width: 100%;
}
.quote {
    margin-left: 5em;
    font-size: 1.5em;
}
.aboutText {
margin-top: 1em;
font-size: 1.2em;
}
.tele {
    color: black;
    text-decoration: none;
}
.tele::after {
    color: black;
}
.number {
    text-decoration: underline;
}
.cookie-banner {
    position: fixed;
    bottom: 40px;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 8%;
    padding: 5px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    font-size: 1.5em;
  }
  .close {
    height: 60%;
    width: 10%;
    background-color: #087dcc;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    padding-top: 0.5%;
  }
  @media screen and (min-width: 1445px) {
    .logo {
        background-image: url(../img/Logo2.jpg);
        width: 518px;
        height:200px;
        margin-left: 7em;
    }
    .backgroundImg {
        background-image: url('../img/river.jpg');
        height: 800px;
        border-radius: 250px 0px 250px 0px;
    }
    .slogan {
        width: 1400px;
        font-size: 5em;
    }
    .sloganContainer {
        margin-top: 200px;
    }
    .box {
        height: 250px;
        width: 500px;
    }
    .boxText {
        font-size: 3em;
    }
    .quote {
        text-align: center;
    }
}
  @media screen and (max-width: 800px) {
    .box {
        height: 100px;
        width: 200px;
    }
    .boxText {
        font-size: 1.25em;
    }
    .cookie-banner {
        font-size: 1.3em;
    }
    .close {
        width: 15%;
    }

}
@media screen and (max-width: 700px) {
    .logo {
        background-image: url(../img/Logo.jpg);
        width: 210px;
        height: 81px;
        margin-left: 0.25em;
        
    }
    .navbarItem {
        display: none;
    }
    .slogan {
        width: 250px;
        font-size: 1.5em;
    }
    .undertext {
        font-size: 1em;
    }
    .underRubrik {
       font-size: 1.5em;
       margin: 0.5em ;
    }
    .backgroundImg {
        background-image: url(../img/river640.jpg);
        height: 300px;
        border-radius: 100px 0px 100px 0px;
    }
    .sloganContainer {
        margin-top: 75px;
    }
    .box {
        height: 100px;
        width: 200px;
    }
    .boxText {
        font-size: 1.25em;
    }
    .aboutFlex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .aboutImg {
        background-image: url(../img/HenrikBystrom2.jpg);
        width: 300px;
        height: 442px;
        border-radius: 30px;
    }
    .quote {
        margin-top: 2.5em;
        text-align: center;
        width: 100%;
        margin-left: 0px;
        font-size: 1em;
    }
    .contact {
        text-align: center;
    }
    .border {
        display: flex;
        width: 85%;
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
    .aboutText {
        text-align: center;
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size: 1em;
    }
    
}
@media screen and (max-width: 800px) {
    .logo {
        background-image: url(../img/Logo.jpg);
        width: 210px;
        height: 81px;
        margin-left: 0.25em;
        
    }
    .navbarItem {
        display: none;
    }
    .slogan {
        width: 250px;
        font-size: 1.5em;
    }
    .undertext {
        font-size: 1em;
    }
    .underRubrik {
       font-size: 1.5em;
       margin: 0.5em ;
    }
    .backgroundImg {
        background-image: url(../img/river640.jpg);
        height: 300px;
        border-radius: 100px 0px 100px 0px;
    }
    .sloganContainer {
        margin-top: 75px;
    }
    .box {
        height: 100px;
        width: 200px;
    }
    .close {
        width: 25%;
        padding-top: 3%;
    }
    .aboutFlex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .aboutImg {
        background-image: url(../img/HenrikBystrom2.jpg);
        width: 300px;
        height: 442px;
        border-radius: 30px;
    }
    .quote {
        margin-top: 2.5em;
        text-align: center;
        width: 100%;
        margin-left: 0px;
        font-size: 1em;
    }
    .contact {
        text-align: center;
    }
    .border {
        display: flex;
        width: 85%;
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
    .aboutText {
        text-align: center;
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size: 1em;
    }
}
@media screen and (max-width: 1000px) {
    .navbarItem {
        display: none;
    }
}
@media screen and (min-width: 1000px) {
    .logo {
        background-image: url(../img/Logo2.jpg);
        width: 210px;
        height: 81px;
        margin-left: 0.25em;
        
    }
}
@media screen and (min-width: 1445px) {
    .logo {
        background-image: url(../img/Logo2.jpg);
        width: 518px;
        height:200px;
        margin-left: 5em;
    }
    .navbarItem {
        width: 400px;
        height:200px;
        font-size: 2.8em;
    }
    .navText {
        top: 1.5em;
    }
    .backgroundImg {
        background-image: url('../img/river.jpg');
        height: 600px;
        border-radius: 250px 0px 250px 0px;
    }
    .slogan {
        width: 1400px;
        font-size: 5em;
    }
    .sloganContainer {
        margin-top: 200px;
    }
    .box {
        height: 250px;
        width: 400px;
    }
    .boxText {
        font-size: 3em;
    }
    .quote {
        text-align: center;
    }
}
@media screen and (min-height: 870px) and (min-width: 500px) {
    .logo {
        background-image: url(../img/Logo2.jpg);
        width: 518px;
        height:200px;
        margin-left: 7em;
    }
    .navbarItem {
        width: 400px;
        height:200px;
        font-size: 2.8em;
    }
    .navText {
        top: 1.5em;
    }
    .backgroundImg {
        background-image: url('../img/river.jpg');
        height: 600px;
        border-radius: 250px 0px 250px 0px;
    }
    .box {
        height: 150px;
        width: 300px;
    }
    .boxText {
        font-size: 2.2em;
    }
    .textP {
        font-size: 1.6em;
    }
}
@media screen and (min-height: 870px) and (min-width: 500px) and (max-width: 1440px) {
    .navbarContainer {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .logo {
        background-image: url(../img/Logo.jpg);
        width: 210px;
        height: 81px;
        margin-left: 0.25em;
        
    }
    .navbarItem {
        width: 210px;
        height: 81px;
    }
    .navText {
        position: inherit;
    }
}
@media  screen and (min-width: 2560px) {
    .logo {
        background-image: url(../img/Logo2.jpg);
        width: 518px;
        height:200px;
        margin-left: 5em;
    }
    .navbarItem {
        width: 600px;
        height:200px;
        font-size: 3em;
    }
    .navText {
        top: 1.5em;
    }
    .backgroundImg {
        background-image: url('../img/river.jpg');
        height: 1000px;
        border-radius: 250px 0px 250px 0px;
    }
    .slogan {
        width: 1400px;
        font-size: 6em;
    }
    .sloganContainer {
        margin-top: 400px;
    }
    .box {
        height: 250px;
        width: 500px;
    }
    .boxText {
        font-size: 3em;
    }
}